<div class="ekart--product--item">
  <div class="ekart-wishlist-sale-container">
    <div class="ekart--add--to--wishlist">
      <!-- <i class="fa fa-heart-o" aria-hidden="false"></i> -->
      <i class="fa-regular fa-heart icon-size"></i>
    </div>
    <div class="ekart-on-sale-tag" *ngIf="product.disscount">
      {{ ((product.disscount / product.price) * 100).toFixed(0) }} % OFF
    </div>
  </div>
  <div class="ekart--product--image">
    <img
      [src]="product.imageUrl"
      alt="produt-image"
      class="ekart--product--image"
    />
  </div>
  <div class="ekart--add--to--price">${{ product.price }}</div>
  <div class="ekart--product--name">{{ product.name }}</div>
  <div class="ekart--product--category">
    {{ product.gender }} -> {{ product.category }} -> {{ product.brand }}
  </div>
  <div class="ekart--product--available-colors">
    colors: {{ product.color.length }}. Best Seller
  </div>
  <div
    class="ekart-productuct-avail my-3"
    [ngStyle]="{
      fontWeight: 'bold',
      color: product.is_in_inventory ? 'green' : 'red'
    }"
  >
    {{ product.is_in_inventory ? "Available In Stock" : "Not In Stock" }}
  </div>
</div>
