.pro-img {
  width: 180px;
  height: 150px;
  margin-bottom: 7px;
}

.ekart-product-avail {
  font-size: 15px;
  color: #999;
}

.product-container {
  margin-right: 15px;
}

.icon-size {
  font-size: 25px;
  margin-left: 7px;
}
