<div class="ekart--product--container">
  <app-search></app-search>
  <!-- <img
    class="pro-img"
    src="/assets/images/{{ product.pImage }}"
    alt="productImg"
  />
  <p>Name : {{ product.name }}</p>
  <p>Price :{{ "$" + product.price }}</p>
  <p>Color : {{ product.color }}</p>
  <p>Disscount Price : {{ "$" + product.disPrice }}</p>
  <p>Net Price : {{ "$" + getDicountPrice().toFixed(1) }}</p>
  <p>
    {{
      product.instock > 0
        ? "Only  " + product.instock + "   items left"
        : "Not in Stock"
    }}
  </p>
  <button class="btn btn-secondary" [disabled]="!(product.instock > 0)">
    Buy Now
  </button>
  <br />
  <br />
  <button class="btn btn-sm btn-warning m-2" (click)="decrementCartVlaue()">
    -
  </button>
  <span>{{ addToCart }}</span>
  <button class="btn btn-sm btn-success m-2" (click)="incrementCartVlaue()">
    +
  </button> -->
</div>

<!-- <input [value]="name" (input)="onNameChange($event)" /> 
  <br />
  <br />
  <p>My name is : {{ name }}</p> -->
