<div
  class="border border-1 rounded-2 border-dark d-flex justify-content-between"
>
  <input
    class="form-controll w-100 border border-none"
    type="search"
    #searchInput
  />
  <button class="btn btn-md btn-dark" (click)="setSearchText(searchInput)">
    Search
  </button>
</div>
<div class="mt-3">
  <p *ngIf="searchText !== ''">
    <strong class="me-1">Search result for: </strong>{{ searchText }}
  </p>
</div>

<!-- <div><h3>SHOES</h3></div> -->

<!-- [ngClass]="{
      'btn-dark': !searchInput.value,
      'btn-primary': searchInput.value,
    }" -->
